<!DOCTYPE html>

@inject IStringLocalizer<EduArticles.UI.Pages.Community.ViewModel> localizer

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/custom-css/darkly2.css" />
    <link rel="stylesheet" href="~/custom-css/main.css" />
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">*@
    <title>@ViewBag.Title - EduArticles</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="navbar-brand" asp-page="/Index">EduArticles</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <div class="row flex-fill gy-0">
                        <div class="col order-lg-1 order-3">
                            <form class="d-flex" asp-page="/Search" method="get">
                                <input class="form-control me-sm-2" type="text" name="query" placeholder="@localizer["Search"]...">
                                <button class="btn btn-secondary my-2 my-sm-0" type="submit">@localizer["Search"]</button>
                            </form>
                        </div>
                        <div class="col-lg-auto order-lg-2 order-1">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <div class="dropdown-center">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@localizer["Account"]</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-page="@RouteConstants.Profile" asp-route-name="@User.Identity.Name">@localizer["MyProfile"]</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-page="@RouteConstants.AccountLogout">@localizer["Logout"]</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-auto order-lg-3 order-2">
                            @await Html.PartialAsync("_CulturePartial")
                        </div>
                    </div>
                </div>
            }
        </div>
    </nav>
    <div class="container p-4">
        @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    @Html.Raw("<script src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js' integrity='sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r' crossorigin='anonymous'></script>")
</body>
</html>
