@page "{id}"
@model EduArticles.UI.Pages.Post.EditModel
@inject IStringLocalizer<EduArticles.UI.Pages.Post.EditModel> localizer
@{
    ViewData["Title"] = @localizer["Edit"]+ " " + Model.Title;
}

<div class="row">
    <div class="col d-flex align-items-center justify-content-center">
        <div class="card text-white bg-primary mb-3" style="min-width: 30rem; max-width: 60rem;">
            <div class="card-header">
                @localizer["Edit"] @Model.Title
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Image">@localizer["Image"]</label>
                        <input class="form-control" asp-for="Image" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Title">@localizer["Title"]</label>
                        <input class="form-control" asp-for="Title" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Text">@localizer["Text"]</label>
                        <textarea class="form-control" asp-for="Text"></textarea>
                    </div>
                    <div class="form-group">
                        <div asp-validation-summary="All"></div>
                        <button class="btn btn-success" type="submit">@localizer["Save"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>